* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-page: #000000;

  --text-input: #a4a4b1;
  --bg-input: #06181c;

  --text-button: #ffffff;
  --bg-button: #065e7c;
  --text-button-hover: #065e7c;
  --bg-button-hover: #ffffff;

  --bg-thead: #092d38;
  --text-table: #e1e1e6;
  --bg-table-rows: rgba(6, 22, 27, 0.5);
  --bg-table-even-rows: #06181c;
  --border-table: #4a808c;

  --text-remove-button: #f75a68;

  --text-no-favorites: #4e5455;

  --bg-scrollbar-track: #092d38;
  --bg-scrollbar-thumb: #4a808c;
  --bg-scrollbar-thumb-hover: #065e7c;
}

body {
  background-color: var(--bg-page);
}

body * {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#app {
  max-width: 90rem;
  margin: 7rem auto;
  padding: 0 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-bottom: 5.5rem;
}

.input-wrapper {
  width: 100%;
  max-width: 40rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
}

.input-wrapper input {
  width: 100%;
  color: var(--text-input);
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 0.3125rem;
  background: var(--bg-input);
  border: none;
  height: 3rem;
}

.input-wrapper button {
  display: flex;
  padding: 0.75rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-button);
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  background: var(--bg-button);
  border: none;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input-wrapper button:hover {
  background: var(--bg-button-hover);
  color: var(--text-button-hover);
}
.input-wrapper button svg {
  fill: var(--text-button);
  transition: all 0.2s ease-in-out;
}
.input-wrapper button:hover svg {
  fill: var(--text-button-hover);
}

/* table */

#table-wrapper {
  width: 100%;
  overflow-y: hidden;
  border-radius: 0.75rem;
  background-color: var(--bg-table-rows);
  border: 1px solid var(--border-table);
}

#thead {
  display: flex;
  background: var(--bg-thead);
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-top: none;
}

#tbody {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  max-height: 30rem;
}

#thead div,
table td {
  color: var(--text-table);
  font-size: 1.25rem;
  line-height: 160%;
  padding: 1rem 1.5rem 1rem 2.5rem;
}

table tr {
  background: var(--bg-table-rows);
}

table tr:nth-child(even) {
  background: var(--bg-table-even-rows);
  border-top: 1px solid var(--border-table);
  border-bottom: 1px solid var(--border-table);
}

table tr:last-child {
  border-bottom: none;
}

.user {
  gap: 1rem;
  width: 46%;
  min-width: 21.62rem;
  display: flex;
  align-items: center;
}

td.user {
  width: fit-content;
}

.user img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.user a {
  text-decoration: none;
  color: var(--text-table);
}

.user span {
  font-weight: 400;
}

.repositories,
.followers,
.action {
  width: 18%;
  min-width: 8.46rem;
}

.action button {
  background-color: transparent;
  border: none;
  color: var(--text-remove-button);
  font-size: 1.25rem;
  line-height: 160%;
  cursor: pointer;
}

#no-favorites {
  width: calc(100vw - 5rem);
  padding: 2rem;
  height: 22rem;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#no-favorites p {
  color: var(--text-no-favorites);
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

#no-favorites img {
  width: 9rem;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.375rem;
}

/* height */
::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}

/* track */
::-webkit-scrollbar-track {
  background: var(--bg-scrollbar-track);
}

/* handle */
::-webkit-scrollbar-thumb {
  border-radius: 99rem;
  background: var(--bg-scrollbar-thumb);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-scrollbar-thumb-hover);
}

@media (max-width: 820px) {
  :root {
    font-size: 90%;
  }
  #app {
    margin: 3rem auto 1rem;
  }
  header {
    flex-direction: column;
    margin-bottom: 2.5rem;
  }
  #tbody {
    max-height: 30rem;
  }
  #no-favorites {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
@media (max-width: 740px) {
  #tbody {
    width: max-content;
  }
  .user {
    width: 40%;
  }
  #thead {
    width: fit-content;
  }
}

@media (max-width: 540px) {
  .input-wrapper {
    flex-direction: column;
    height: 6.5rem;
  }
  .input-wrapper button {
    width: 100%;
  }
}
